/* importiert die Schirften von Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* Allgemeine Einstellung */
* {
  font-family: 'Quicksand';
  font-size: 16px;
  font-weight: 700;
}

.App {
  display: grid;
  grid: "section gameBoard" auto / 40% 60%;
}

h1{
  margin-top: -200px;
  color: black;
  font-family: 'Quicksand';
  font-size: 48px;
  font-weight: 700;
}

table {
  margin-top: -550px;
  margin-left: 500px;
  border-collapse: collapse;
  border-radius: 16px;
  width: 900px;
  height: 50px;
}

a{
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

a:hover{
  color:#ff2b56;
}

/* Einstellungen für Logo */
.logo {
  margin-top: 25px;
  margin-left: 75px;
  height: 150px;
  width: 300px;
}

/* Einstellungen für Formular */
fieldset{
  border: 1px solid black;
  border-radius: 16px;
  width: 350px;
}

legend{
  padding: 0px 15px 0px 15px;
  text-align: left;
}

input{
  border: white;
  width: 350px;
}

input:focus{
outline: none;
}

.forgotPassword {
  margin-top: 30px;
}

/* Einstellungen für Schaltflächen */
.navButton {
  margin-top: 300px;
  margin-left: 100px;
  align-items: center;
  justify-content: center;
  grid-area: navButton;
}

button {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 15px;
  align-items: center;
  border: 1px solid black;
  border-radius: 16px;
  height: 50px;
  padding: 0px 54px;
  width: 380px;
  cursor: pointer;
}

.buttonText {
  letter-spacing: 0.1px;
  line-height: 20px;
  text-align: center;
}

button:hover {
  background: #ff2b56;
  color: white;
  border: 1px solid #ff2b56;
}

button:active {
  background: black;
  color: white;
  border: 1px solid black;
}

select {
  background-color: white;
  margin-bottom: 15px;
  text-align: center;
  border: 1px solid black;
  border-radius: 16px;
  height: 50px;
  width: 250px;
  cursor: pointer;
}